@import './Fonts.css';

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	user-select: none;
}

#App {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	color: #f0d5ff;
	background: rgb(26, 0, 120);
	background: linear-gradient(
		127deg,
		rgba(26, 0, 120, 1) 0%,
		rgba(7, 0, 20, 1) 100%
	);
	height: 100vh;
	width: 100%;
}

h1 {
	margin: 5px;
	font-family: 'Montserrat-m';
}

h2 {
	margin: 5px;
	font-family: 'Montserrat-l';
}

span {
	font-family: 'Montserrat-t';
}
